.logement-infos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .logement {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logement-title {
            h2 {
                color: #FF6060;
                font-family: Montserrat;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }
            p {
                color: #FF6060;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }
        }
        .logement-hote {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            p{
                width: 95px;
                color: #FF6060;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                padding: 0;
                margin: 0;
            }
            img {
                width: 64px;
                height: 64px;
                flex-shrink: 0;
                border-radius: 50%;
            }
        }
    }
    .tags-rates {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .tags {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
    .Dropdowm-div {
        div {
            flex-direction: row;
            gap: 6%;
            .dropdown {
                width: 47%;
            }
        }
    }
}


@keyframes arrowDown {
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes arrowUp {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes showText {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes hideText {
    0%{
        transform: scaleY(1);
        opacity: 1;
    }
    100%{
        transform: scaleY(0);
        opacity: 0;
    }
}