@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Pages
@import '../pages/Home/home.scss';
@import '../pages/Home/home-Responsive.scss';
@import '../pages/Error/error.scss';
@import '../pages/FicheLogement/ficheLogement.scss';
@import '../pages/FicheLogement/ficheLogement-responsive.scss';
@import '../pages/Propos/propos.scss';

// Components
@import '../components/Header/header.scss';
@import '../components/Header/header-responsive.scss';
@import '../components/Banner/banner.scss';
@import '../components/Banner/banner-responsive.scss';
@import '../components/LogementCards/Cards.scss';
@import '../components/LogementCards/cards-responsive.scss';
@import '../components/Collapse/Collapse.scss';
@import '../components/Slideshow/Slideshow.scss';
@import '../components/LogementInfo/logementinfo.scss';
@import '../components/Rating/rating.scss';
@import '../components/Footer/footer.scss';
@import '../components/Footer/footer-responsive.scss';

//breakpoints
@import './breakpoints.scss';

html body {
    padding: 0;
    margin: 0;
}
#root {
    min-height: 94vh;
    padding: 0;
    margin: 0;
}