@include respond-to ('small') {
    .Dropdowm-div {
            .dropdown {
                width: 100%;
                .dropdown-title {
                    height: 30px;
                    p {
                        font-size: 13px;
                    }
                    svg {
                        width: 22px;
                        height: 22px;
                    }
                }
                .dropdown-text {
                    p {
                        font-size: 12px;
                    }
                }
            }  
    }
}
